:root {
	--branding-color: #6c63ff;
	--secondary-color: #f9f7fe;
	--heading-font-family: "Playfair Display", serif;
	--default-font-family: "Poppins", sans-serif;
}

body {
	font-family: var(--default-font-family);
	background: linear-gradient(
		188deg,
		rgba(198, 255, 221, 1) 0%,
		rgba(251, 215, 134, 1) 24%,
		rgba(247, 121, 125, 1) 77%
	);
}
.nav-link {
	font-size: 15px;
}
.navbar-brand {
	font-size: 25px;
	font-family: Exo;
	color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
	font-family: var(--heading-font-family);
	text-align: center;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 55px;
}
h4 {
	font-size: 40px;
}
p {
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
}
#banner {
	background-image: url("/images/landingpageNYC.jpg");
	background-size: cover;
	background-position: bottom center;
	height: 600px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
}
/*
css - the box model lesson, try it

#banner {
  background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

#banner .content h1 {
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}
*/

.hero {
	background-color: white;
	text-align: center;
	padding: 50px 20px;
}
.hero p {
	font-size: 36px;
	font-weight: bold;
	margin: 0;
	color: #272142;
}

.hero h2 {
	font-family: var(--heading-font-family);
	font-weight: normal;
	font-size: 24px;
}
.hero img {
	width: 350px;
}

.content-container {
	padding: 40px 0px 5px 0px;
	background-color: white;
}
.content h1 {
	font-size: 55px;
	line-height: 80px;
}

.content h2 {
	font-size: 18px;
	font-family: var(--default-font-family);
}

.content h3 {
	font-size: 20px;
	font-style: italic;
	font-family: var(--default-font-family);
}

.content p {
	font-size: 20px;
}

.content {
	margin: 30px;
}

.btn-branding {
	background: var(--branding-color);
	border-radius: 4px;
	color: white;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}
.btn-branding-outline {
	color: var(--secondary-color);
	background-color: var(--branding-color);
	border: 1px solid var(--branding-color);
	border-radius: 4px;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}

.project-desciption {
	padding: 120px 60px;
}
.courses {
	background-color: var(--secondary-color);
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}
.contact-photo {
	border-radius: 20px;
	width: 450px;
}
footer {
	margin: 60px 0 30px 0;
}

footer p {
	font-size: 17px;
}

footer .contact-box {
	background-color: white;
	padding: 30px 60px;
	border-radius: 10px;
}
footer .contact-box p {
	margin: 0;
}
footer .email-link {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

footer .email-link:hover {
	color: var(--branding-color);
}

footer .social-links a {
	margin: 40px;
	color: var (--branding-color);
	background-color: var(--secondary-color);
	padding: 10px 15px;
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	font-size: 20px;
	transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
	color: white;
	background-color: var(--branding-color);
}
@media (max-width: 900px) {
	h1 {
		font-size: 44px;
		line-height: 56px;
	}

	h2 {
		font-size: 44px;
	}

	.hero {
		padding: 80px 20px;
	}

	.content {
		text-align: center;
		padding: 0;
	}

	.project-desciption {
		padding: 0;
		text-align: center;
	}
}
